h1 NEW MOON WISHES
p トップページです(仮)
= button_to '早速願いごとを宣言する', guest_login_path
hr
h2 MENU
ul
	li = link_to 'マイプロフィール', profile_path
	li = link_to '願いごとをする', new_wish_path
	li = link_to '過去の願いごとを見る', wishes_path
	li = link_to 'みんなの願いごとを見る', cheers_path
br
button.btn.btn-square.loading
= button_to t('defaults.logout'), logout_path, method: :delete
= link_to 'LINEでログイン', auth_at_provider_path(provider: :line)