- content_for :title, t('.title')
h3 #{t('.title')}
p 登録情報
p = User.human_attribute_name(:name)
p = @current_user.name
- if current_user.crypted_password.present?
	p = User.human_attribute_name(:email)
	p = @current_user.email
p = link_to '編集', edit_profile_path
p = button_to '全情報削除', user_path(@current_user), method: :delete