= "#{@user.name} (#{@user.email}) 様"
p パスワード(再)設定のご依頼を受け付けました。
p 下記のURLよりパスワードの(再)設定を行っていただきますようお願いいたします。
= link_to "#{@url}", @url
p このメールに心当たりのない方は、メールを破棄していただきますようお願いいたします。
= t('defaults.site_title')
= t('defaults.site_url')