= "#{@user.name} (#{@user.email}) 様"
= "\r\n"
' パスワード再発行のご依頼を受け付けました。
' 下記のURLよりパスワードの再設定を行っていただきますようお願いいたします。
= "\r\n"
= @url
= "\r\n"
' このメールに心当たりのない方は、メールを破棄していただきますようお願いいたします。
= "\r\n"
= t('defaults.site_title')
= "\r\n"
= t('defaults.site_url')