= form_with model: form, class: 'w-full px-5 sm:px-0 lg:w-4/5 max-w-2xl' do |fb|
  = render 'shared/error_messages', object: fb.object
  = render 'shared/one_declaration_form', fb: fb
  div class="#{hidden_if('edit')} justify-center items-center link link-hover mt-8 text-sm text-indigo-400" id="js-display-declaration-button" onclick="displayDeclarationForm(event)"
    .fas.fa-plus-circle.pr-1
    | 願いごとを追加する
  = fb.submit '願いごとをする', class: "btn btn-wide w-full mt-8 mb-20"

  javascript:
    changeFormToOpen(0, 2);
    if ( #{form.declarations.pluck(:message).compact_blank.size} > 0 ) {
      changeFormToOpen(0, #{form.declarations.pluck(:message).compact_blank.size});
    }
    function changeFormToOpen(start_count, end_count) {
      for (start_count; start_count < end_count; ++start_count ) {
        document.getElementById(`js-add-declaration-form-${start_count}`).style.display = "block";
      }
    }
    let form_count = 2
    const displayDeclarationForm = (e) => {
      if ( form_count < 10 ) {
        const declarationForm = document.getElementById(`js-add-declaration-form-${form_count}`)
        declarationForm.style.display = "block";
        ++form_count;
        if (form_count == 10 ) {
          document.getElementById('js-display-declaration-button').remove();
        }
      }
    }