@tailwind base;
@tailwind components;
@tailwind utilities;

/*Banner open/load animation*/
.alert-banner {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Banner close animation*/
.alert-banner input:checked~* {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*Toast open/load animation*/
.alert-toast {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Toast close animation*/
.alert-toast input:checked~* {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
}

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
}
@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
}

@keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
}

#particles-js { 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #150757;
	background-image: url("");
	background-repeat: repeat;
	background-size: 20%;
	background-position: 50% 50%;
}

.glowAnime span {
	opacity: 0;
	font-size: clamp(15px, 1vw, 20px);
}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span {
	animation:glow_anime_on 1s ease-out forwards;
}

@keyframes glow_anime_on {
	0% {
		opacity: 0;
		text-shadow: 0 0 0 #fff, 0 0 0 #fff;
	}

	50% {
		opacity: 1;
		text-shadow: 0 0 10px #fff, 0 0 15px #fff;
	}

	100% {
		opacity: 1;
		text-shadow: 0 0 0 #fff, 0 0 0 #fff;
	}
}

/* loading star */
#loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 1000;
    width: 100%;
    height: 100%;
    background: #E0E7FF;
	-webkit-box-shadow: 0px 0px 30px 1px #EEF2FF inset;
			box-shadow: 0px 0px 30px 1px #EEF2FF inset;
}

.loader-section {
	display: inline-block;
	text-align: center;
	min-height: 215px;
	vertical-align: top;
}

.loader {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 75px;
	display: inline-block;
	vertical-align: middle;
}

.loader-star {
	position: absolute;
	top: calc(50% - 12px);
}

.loader-2 .loader-star {
	position: static;
	width: 60px;
	height: 60px;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
		transform: scale(0.7);
	-webkit-animation: loader-2-star 2s ease alternate infinite;
	animation: loader-2-star 2s ease alternate infinite;
}

.loader-2 .loader-circles {
	width: 8px;
	height: 8px;
	background: #FCD34D;
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 4px);
	top: calc(50% - 4px);
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-webkit-animation: loader-2-circles 2s ease-in-out alternate infinite;
	animation: loader-2-circles 2s ease-in-out alternate infinite;
}

@-webkit-keyframes loader-2-circles {
	0% {
		-webkit-box-shadow: 0 0 0 #FCD34D;
		box-shadow: 0 0 0 #FCD34D;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	50% {
		-webkit-box-shadow: 48px -44px #FCD34D, 60px -30px 0 -6px #FCD34D, 62px 0px #FCD34D, 58px 18px 0 -6px #FCD34D, 48px 46px #FCD34D, 34px 60px 0 -6px #FCD34D, 0px 66px #FCD34D, -20px 56px 0 -6px #FCD34D, -48px 44px #FCD34D, -58px 28px 0 -6px #FCD34D, -62px -6px #FCD34D, -60px -22px 0 -6px #FCD34D, -40px -50px #FCD34D, -24px -60px 0 -6px #FCD34D, 10px -58px #FCD34D, 26px -50px 0 -6px #FCD34D;
		box-shadow: 48px -44px #FCD34D, 60px -30px 0 -6px #FCD34D, 62px 0px #FCD34D, 58px 18px 0 -6px #FCD34D, 48px 46px #FCD34D, 34px 60px 0 -6px #FCD34D, 0px 66px #FCD34D, -20px 56px 0 -6px #FCD34D, -48px 44px #FCD34D, -58px 28px 0 -6px #FCD34D, -62px -6px #FCD34D, -60px -22px 0 -6px #FCD34D, -40px -50px #FCD34D, -24px -60px 0 -6px #FCD34D, 10px -58px #FCD34D, 26px -50px 0 -6px #FCD34D;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-box-shadow: 50px -44px #FCD34D, 30px -44px 0 -6px black, 62px 4px #FCD34D, 42px 4px 0 -6px black, 46px 50px #FCD34D, 26px 50px 0 -6px black, 0px 66px #FCD34D, -20px 66px 0 -6px black, -52px 48px #FCD34D, -38px 34px 0 -6px black, -64px 0px #FCD34D, -46px 0px 0 -6px black, -50px -46px #FCD34D, -32px -46px 0 -6px black, 0px -62px #FCD34D, -4px -46px 0 -6px black;
		box-shadow: 50px -44px #FCD34D, 30px -44px 0 -6px black, 62px 4px #FCD34D, 42px 4px 0 -6px black, 46px 50px #FCD34D, 26px 50px 0 -6px black, 0px 66px #FCD34D, -20px 66px 0 -6px black, -52px 48px #FCD34D, -38px 34px 0 -6px black, -64px 0px #FCD34D, -46px 0px 0 -6px black, -50px -46px #FCD34D, -32px -46px 0 -6px black, 0px -62px #FCD34D, -4px -46px 0 -6px black;
	}
}

@-webkit-keyframes loader-2-star {
	0% {
		-webkit-transform: scale(0) rotate(0deg);
		transform: scale(0) rotate(0deg);
	}

	100% {
		-webkit-transform: scale(2) rotate(360deg);
		transform: scale(2) rotate(360deg);
	}
}

.fadeout {
	animation : fadeOut 4s;
	animation-fill-mode: both;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}