@tailwind base;
@tailwind components;
@tailwind utilities;

/*Banner open/load animation*/
.alert-banner {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Banner close animation*/
.alert-banner input:checked~* {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*Toast open/load animation*/
.alert-toast {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Toast close animation*/
.alert-toast input:checked~* {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
}

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0
	}
}
@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
}

@keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
}

#particles-js { 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #150757;
	background-image: url("");
	background-repeat: repeat;
	background-size: 20%;
	background-position: 50% 50%;
}

.glowAnime span {
	opacity: 0;
	font-size: clamp(15px, 1vw, 20px);
}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span {
	animation:glow_anime_on 1s ease-out forwards;
}

@keyframes glow_anime_on {
	0% {
		opacity: 0;
		text-shadow: 0 0 0 #fff, 0 0 0 #fff;
	}

	50% {
		opacity: 1;
		text-shadow: 0 0 10px #fff, 0 0 15px #fff;
	}

	100% {
		opacity: 1;
		text-shadow: 0 0 0 #fff, 0 0 0 #fff;
	}
}
