script[async src="https://www.googletagmanager.com/gtag/js?id=G-6ZTXENC63H"]
javascript:
	window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6ZTXENC63H');